body{
    width: 100%;
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Abel', sans-serif;
}

.wrapper{
    width:100%;
    margin:0 auto;
}

nav{
    width:100%;
    display:block;

}

nav a{
    float:right;
    text-decoration: none;
}

main{
    width:50%;
    bottom: 50%;
    margin: 0 auto;
    padding:0;
    align-items: center;
    clear:both;
    background-color: pink;
}

.answer-choices{
    width: 100%;
    padding: .75em 2%;
    margin: 1em 0;
    border: solid 2px pink;
}
